doctype
html(lang="en")
  head(prefix="og: http://ogp.me/ns#")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(name="description", content="Kurogoma (@kurgm)")
    meta(property="og:title", content="Kurogoma (@kurgm)")
    meta(property="og:type", content="website")
    meta(property="og:image", content="https://gravatar.com/avatar/9eb75b59630aa2501a943cbae2978aa6d4d8213c4529ddedf51fcfcfe813811b?size=512")
    meta(property="og:url", content="https://kurgm.github.io/")
    meta(property="og:site_name", content="Kurogoma")
    meta(property="og:description", content="Kurogoma (@kurgm)")
    title Kurogoma
    link(href="index.css", rel="stylesheet")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
    script(src="index.ts")
  body
    .desc-area
      h1 Kurogoma (@kurgm)
      ul
        li
          a(href="https://github.com/kurgm") @kurgm on GitHub
        li
          a(href="https://twitter.com/kurgm") @kurgm on Twitter

    .oo-area
      svg#oo(viewBox="0 0 500 500", xmlns:xlink="http://www.w3.org/1999/xlink")
        defs
          g#eye_white
            path(
              d="m 161.0188,134.10876 c -42.4425,0 -117.963565,202.53915 0,202.53915 117.96356,0 42.4425,-202.53915 0,-202.53915 z",
              fill="#ffffff",
              stroke="none"
            )
          g#eye_black
            path(
              d="m 161.0188,192.14259 c -19.42379,0 -53.98601,92.692 0,92.692 53.98602,0 19.42379,-92.692 0,-92.692 z",
              fill="#000000",
              stroke="none"
            )
        g
          rect#oo_face_area(
            x="0",
            y="0",
            width="500",
            height="500",
            fill="#000000",
            stroke="none"
          )
        g
          use(xlink:href="#eye_white", x="0", y="0", width="500", height="500")
          use#eye_black_1(
            xlink:href="#eye_black",
            x="-18.62165",
            y="-12",
            width="500",
            height="500"
          )
        g(transform="translate(177.9624,0)")
          use(xlink:href="#eye_white", x="0", y="0", width="500", height="500")
          use#eye_black_2(
            xlink:href="#eye_black",
            x="-18.62165",
            y="-12",
            width="500",
            height="500"
          )
      .oo-control
        button#btn_fullscreen(type="button", title="Toggle Fullscreen")
          svg(viewBox="0 0 24 24")
            path(
              d="M5,5v5h2v-3h3v-2z M5,19h5v-2h-3v-3h-2z M19,19v-5h-2v3h-3v2z M19,5h-5v2h3v3h2z"
            )
